.error_2fQQf {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8.5rem;
    text-align: center
}

.error_2fQQf h1 {
    margin-bottom: .5em;
    font-size: 1rem
}

.error_2fQQf h2 {
    margin-bottom: 1em;
    font-size: .6rem
}

.error_2fQQf a, .error_2fQQf button {
    display: inline-block;
    margin: 0 1em;
    color: #333
}

.error_2fQQf a:hover, .error_2fQQf button:hover {
    color: #e60012
}

.error_2fQQf button {
    background-color: transparent;
    text-decoration: underline
}

.nuxt-progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    width: 0;
    opacity: 1;
    transition: width .1s, opacity .4s;
    background-color: #e60012;
    z-index: 999999
}

.nuxt-progress.nuxt-progress-notransition {
    transition: none
}

.nuxt-progress-failed {
    background-color: red
}

@font-face {
    font-family: swiper-icons;
    src: url("") format("woff");
    font-weight: 400;
    font-style: normal
}

:root {
    --swiper-theme-color: #e60012
}

html {
    min-height: 100%;
    -webkit-tap-highlight-color: transparent
}

h1, h2, h3, h4, ol, p, ul {
    margin: 0
}

ol, ul {
    list-style-type: none;
    padding: 0
}

em {
    font-style: normal
}

button {
    padding: 0;
    border: 0;
    outline: 0;
    color: inherit;
    cursor: pointer
}

button[disabled] {
    cursor: default
}

img {
    vertical-align: top
}

html {
    background-color: #fff;
    font-size: 5.20833333vw
}

body {
    font-family: sans-serif;
    font-size: 14px;
    color: #333
}

::-moz-selection {
    background-color: #e60012;
    color: #fff
}

::selection {
    background-color: #e60012;
    color: #fff
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.app-container, .app-wrapper {
    margin: 0 auto;
    max-width: 1920px
}

.app-wrapper {
    position: relative
}

.app-fadeInUp {
    opacity: 0
}

.app-fadeInUp-active {
    -webkit-animation: fadeInUp 1s both;
    animation: fadeInUp 1s both
}

.app-fadeInRight {
    opacity: 0
}

.app-fadeInRight-active {
    -webkit-animation: fadeInRight 1s both;
    animation: fadeInRight 1s both
}

.app-fadeInLeft {
    opacity: 0
}

.app-fadeInLeft-active {
    -webkit-animation: fadeInLeft 1s both;
    animation: fadeInLeft 1s both
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0)
    }
    to {
        opacity: 1;
        transform: translateZ(0)
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0)
    }
    to {
        opacity: 1;
        transform: translateZ(0)
    }
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0)
    }
    to {
        opacity: 1;
        transform: translateZ(0)
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0)
    }
    to {
        opacity: 1;
        transform: translateZ(0)
    }
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0)
    }
    to {
        opacity: 1;
        transform: translateZ(0)
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0)
    }
    to {
        opacity: 1;
        transform: translateZ(0)
    }
}

.logo_35Jya {
    width: .7rem;
    height: .7rem;
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .14rem auto;
    background: #fff
}

.logo_35Jya img {
    width: .7rem;
    height: .7rem
}

@media screen and (max-width: 768px) {
    .logo_35Jya {
        width: 1.42rem;
        height: 1.1rem;
        right: auto;
        background-color: #fff;
        margin: 0
    }

    .logo_35Jya img {
        width: 1rem;
        height: 1rem
    }
}

.menu_z8nuX a {
    display: block;
    padding: .6em 0;
    color: #575757;
    text-align: center;
    position: relative;
    text-decoration: none
}

.menu_z8nuX a i {
    width: 100%;
    height: .03rem;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #e60012
}

.toggle_11qu9 {
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent
}

.toggle_11qu9 i {
    width: .6rem;
    height: .08rem;
    position: absolute;
    right: .08rem;
    background-color: #ccc;
    transition: all .3s
}

.toggle_11qu9 i:first-child {
    top: .4rem
}

.toggle_11qu9 i:nth-child(2) {
    top: 50%;
    transform: translateY(-50%)
}

.toggle_11qu9 i:last-child {
    bottom: .4rem
}

.toggle_active_3QJbo i:first-child {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg)
}

.toggle_active_3QJbo i:nth-child(2) {
    opacity: 0
}

.toggle_active_3QJbo i:last-child {
    bottom: 50%;
    transform: translateY(50%) rotate(45deg)
}

.list_3ubWD {
    display: none;
    position: absolute;
    top: 1.2rem;
    right: 0;
    padding: 1em 0;
    border-top: 1px solid hsla(0, 0%, 91.4%, .9);
    background-color: hsla(0, 0%, 100%, .9);
    font-size: 15px
}

.list_active_1YD4v {
    display: block;
    -webkit-animation: fadeInLeft 1s both;
    animation: fadeInLeft 1s both
}

.list_3ubWD li a {
    padding: .7em 3.5em
}

.nav_2oERi {
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: top .3s, opacity .3s;
    height: 1rem;
    background-image: url(../img/header_bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 1rem
}

.nav_wrap_mini__fyiB {
    display: none
}

.nav_2oERi.hide_iOsK- {
    top: -.9rem;
    opacity: 0
}

.nav_2oERi .current_1NAKd {
    font-weight: 700
}

.nav_main_3CILh {
    z-index: 1;
    position: relative;
    width: 100%;
    height: .6rem;
    background: #fff
}

.nav_main_3CILh li {
    display: flex;
    justify-content: center;
    align-items: center
}

.nav_main_3CILh span {
    position: relative;
    display: inline-block;
    padding: .07rem 0
}

.nav_main_3CILh span:after {
    width: 0;
    height: .03rem;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #e60012;
    transition: width .1s
}

.nav_main_3CILh a, .nav_main_3CILh a:hover span:after, .nav_sub_328m_ {
    width: 100%
}

.nav_sub_328m_ {
    position: absolute;
    top: .9rem;
    left: 0;
    border-top: 1px solid hsla(0, 0%, 91.4%, .9);
    background-color: hsla(0, 0%, 100%, .9);
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    transition: opacity .3s, transform .3s
}

.nav_sub_328m_ ul {
    width: 100%;
    height: 100%;
    padding: 1em 0;
    border-left: 1px solid hsla(0, 0%, 91.4%, .9);
    box-sizing: border-box
}

.nav_sub_328m_ a:hover {
    background-color: #e60012;
    color: #fff
}

.active_3I0dS .nav_sub_328m_ {
    opacity: 1;
    transform: translateZ(0)
}

.bar_2RihU {
    display: flex;
    justify-content: center
}

.bar_list_sil3R {
    width: 6.92rem
}

.nav_sub_328m_ .bar_list_sil3R:nth-child(2) ul {
    border-right: 1px solid hsla(0, 0%, 91.4%, .9)
}

.bar_list_sil3R:nth-child(3) {
    margin-right: 1.75rem
}

.bar_list_sil3R:nth-child(4) {
    margin-left: 1.75rem
}

@media screen and (max-width: 768px) {
    .nav_wrap_YQ6-q {
        display: none
    }

    .nav_wrap_mini__fyiB {
        width: 100%;
        height: 1.2rem;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        border-bottom: 1px solid hsla(0, 0%, 91.4%, .9);
        background-color: #fff
    }
}

@media screen and (max-width: 768px) {
    .banner_vYgGX {
        padding-top: 1.8rem
    }
}

@media screen and (max-width: 768px) {
    .banner_vYgGX h1 {
        background-position: 50%;
        background-size: 38.4rem 10.38rem
    }
}

@media screen and (max-width: 1440px) {
    .banner_campus_hWTHt:after {
        left: 2.6rem
    }
}

@media screen and (max-width: 1024px) {
    .banner_campus_hWTHt:after {
        left: 1.6rem
    }
}

@media screen and (max-width: 768px) {
    .banner_campus_hWTHt:after {
        width: 7.798rem;
        left: 1.1rem;
        background-size: 100% auto
    }
}

.container_box {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%
}

#background_video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -9999
}

#video_cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/video_cover.png) no-repeat;
    background-size: cover;
    background-position: center
}

#overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5)
}

.swiper-appearance {
    padding-top: .6rem;
    width: 100%;
    height: 100%
}

#video_controls {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0)
}

.main_content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff
}

.main_content p {
    text-align: center;
    font-size: .6rem;
    font-family: zcool-gdh;
    letter-spacing: .08rem
}

.main_content .title_content {
    text-align: center;
    font-size: .8rem;
    letter-spacing: .08rem
}

.swiper_bg_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -9999
}

.mmt_box {
    margin-left: 12%;
    margin-top: 10%;
    color: #fff;
    position: relative
}

@media screen and (max-width: 768px) {
    .mmt_box {
        margin-top: 30%
    }
}

.mmt_box .title_content {
    font-family: zcool-gdh;
    font-size: .32rem
}

.mmt_box .mmt_title {
    font-size: .46rem;
    margin-top: .26rem;
    margin-bottom: .32rem
}

.mmt_box div {
    width: 5rem;
    font-size: .2rem;
    margin-bottom: .5rem;
    line-height: 1.4
}

.mmt_box a {
    font-size: .12rem;
    color: #fff
}

.main_body {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2
}

.main_body_header {
    width: 100%;
    height: 6.6rem;
    background-image: url(../img/yjms_banner.png);
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center
}

.main_body_header.about_header {
    background-image: url(../img/about_banner.png)
}

.main_body_header.news_header {
    background-image: url(../img/news_bg.png)
}

.main_body_header.mmt_header {
    background-image: url(../img/mm_two.png)
}

.main_body_header.BJY_header {
    background-image: url(../img/cloud_storage.png)
}

.main_body_header h4 {
    padding-top: 1.94rem;
    font-size: .8rem;
    color: #fff
}

.main_body_header h6 {
    font-size: .4rem;
    color: #fff;
    margin: .44rem 0 .74rem;
    font-family: zcool-gdh
}

.main_body_header p {
    font-size: .24rem;
    color: #fff;
    line-height: 1.4
}

.main_body_details {
    margin-top: .8rem;
    color: #333;
    text-align: center
}

.main_body_details h4 {
    font-size: .34rem
}

.main_body_details h6 {
    font-size: .18rem;
    margin: .2rem 0 .56rem
}

.main_body_details p {
    font-size: .22rem;
    width: 70%;
    line-height: 1.6;
    margin: 0 auto
}

.main_body_details .label_instructions {
    width: 70%;
    margin: .6rem auto;
    display: flex;
    justify-content: center
}

.label_instructions li {
    width: 2rem
}

.label_instructions li img {
    width: .5rem;
    height: .5rem;
    margin-bottom: .1rem
}

.label_instructions li p {
    font-size: .14rem
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}

.background:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, rgba(209, 0, 42, .6) 0, #0e5dc4 100%);
    opacity: .9
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    user-select: none
}

.wrapper_bg {
    position: relative
}

.item-bg {
    position: absolute
}

.item-bg.active {
    left: 0;
    top: 0;
    opacity: 1
}

.news-slider {
    z-index: 2;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    overflow: hidden
}

@media screen and (max-width: 1300px) {
    .news-slider {
        max-width: 1000px
    }
}

@media screen and (max-width: 576px) {
    .news-slider {
        margin-top: 45px
    }
}

.news-slider__wrp {
    display: flex;
    align-items: flex-start;
    position: relative;
    z-index: 2
}

.news-slider__item {
    width: 4rem;
    background-color: #fff;
    flex-shrink: 0;
    margin-left: .3rem
}

@media screen and (max-width: 992px) {
    .news-slider__item {
        width: 4rem
    }
}

.news-slider__item.swiper-slide {
    opacity: 0;
    pointer-events: none;
    transition: all .3s
}

.news-slider__item.swiper-slide-active, .news-slider__item.swiper-slide-next, .news-slider__item.swiper-slide-prev {
    opacity: 1;
    pointer-events: auto
}

.news-slider__ctr {
    position: relative;
    z-index: 12
}

.news-slider__arrow {
    background: #fff;
    border: none;
    display: inline-flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 26px 6px rgba(0, 0, 0, .25);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    z-index: 12;
    cursor: pointer;
    outline: 0 !important
}

.news-slider__arrow:focus {
    outline: 0 !important
}

.news-slider__arrow .icon-font {
    display: inline-flex
}

.news-slider__arrow.news-slider-prev {
    left: 15px;
    transform: translateY(-50%)
}

.news-slider__arrow.news-slider-next {
    right: 15px;
    transform: translateY(-50%)
}

.news-slider__pagination {
    text-align: center;
    margin-top: 50px
}

.news-slider__pagination .swiper-pagination-bullet {
    width: 13px;
    height: 10px;
    display: inline-block;
    background: #fff;
    opacity: .2;
    margin: 0 5px;
    border-radius: 20px;
    transition: opacity .5s, background-color .5s, width .5s;
    transition-delay: .5s, .5s, 0s
}

.news-slider__pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
    width: 100px;
    transition-delay: 0s
}

@media screen and (max-width: 576px) {
    .news-slider__pagination .swiper-pagination-bullet-active {
        width: 70px
    }
}

.news__item {
    border-radius: 10px;
    display: block;
    transition: all .3s
}

@media screen and (min-width: 800px) {
    .news__item:hover {
        color: #222;
        transition-delay: .1s
    }

    .news__item:hover .news-date, .news__item:hover .news__title, .news__item:hover .news__txt {
        opacity: 1;
        transition-delay: .1s
    }

    .news__item:hover .news__img {
        box-shadow: none
    }
}

.news__item.active {
    color: #222
}

.news__item.active .news-date, .news__item.active .news__title, .news__item.active .news__txt {
    opacity: 1
}

.news__item.active .news__img {
    box-shadow: none
}

.news-date {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid;
    display: inline-block;
    opacity: .7;
    transition: opacity .3s
}

@media screen and (max-width: 576px) {
    .news-date {
        margin-bottom: 10px;
        display: inline-flex;
        align-items: center;
        padding-bottom: 0
    }
}

.news-date__title {
    display: block;
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 500
}

@media screen and (max-width: 576px) {
    .news-date__title {
        margin-right: 10px
    }
}

.news-date__txt {
    font-size: .16rem
}

.news__title {
    font-size: .2rem;
    font-weight: 500;
    opacity: .7;
    margin-top: .2rem;
    margin-bottom: 15px;
    transition: opacity .3s
}

@media screen and (max-width: 576px) {
    .news__title {
        font-size: 22px;
        margin-bottom: 10px
    }
}

.news__txt {
    margin: .2rem 0;
    line-height: 1.6em;
    font-size: .16rem;
    opacity: .7;
    transition: opacity .3s
}

.news__img {
    border-radius: .1rem;
    box-shadow: 0 6px 26px 6px rgba(0, 0, 0, .25);
    width: 100%;
    transition: all .3s;
    transform-origin: 0 0
}

@media screen and (max-width: 576px) {
    .news__img {
        height: 180px
    }
}

.news__img img {
    max-width: 100%;
    border-radius: 10px;
    height: 100%;
    width: 100%
}

.footer_box {
    width: 100%;
    background-color: #141414;
    height: 2.4rem;
    display: flex;
    align-items: center
}

.footer_box .footer_content {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center
}

.footer_box .footer_content img {
    margin-left: .2rem;
    width: 1rem;
    height: 1rem
}

.footer_con_tet {
    color: #fff;
    margin-left: .6rem
}

.footer_con_tet p {
    font-size: .14rem;
    margin-bottom: .1rem
}

.news_zone {
    padding: .5rem 16% .8rem
}

.information_box {
    border-bottom: 2px solid #ddd;
    padding-bottom: .12rem;
    margin-bottom: .3rem
}

.news_zone .news_information_title span {
    display: inline-block;
    width: 6px;
    height: .28rem;
    background-color: #0d419d;
    margin-right: .06rem
}

.news_zone .news_information_title {
    font-size: .32rem;
    align-items: center
}

.news_zone .news_information_title i {
    font-style: normal;
    font-size: .18rem;
    color: #989898;
    margin-left: .06rem
}

.news_content {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.news_dynamic, .news_list {
    width: 100%
}

@media screen and (min-width: 768px) {
    .news_dynamic, .news_list {
        width: 50%
    }
}

.news_dynamic li {
    padding: .16rem 0;
    margin: 0 .16rem;
    font-size: .24rem;
    cursor: pointer
}

.news_dynamic li.active {
    color: #0d419d;
    border-bottom: 2px solid #0d419d
}

.dynamic_container {
    margin-top: .28rem
}

.dynamic_container div {
    display: none
}

.dynamic_container div.active {
    display: block
}

.dynamic_container div img {
    width: 100%;
    height: 2rem
}

.dynamic_container div h6 {
    color: #484848;
    font-size: .18rem;
    margin: .16rem 0
}

.dynamic_container div p {
    color: #999;
    font-size: .14rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.news_list h6 {
    height: .6rem;
    text-align: right
}

.news_list h6 a {
    font-size: .14rem
}

.news_list .news_list_content {
    padding-left: 0;
    margin-top: 0
}

@media screen and (min-width: 768px) {
    .news_list .news_list_content {
        padding-left: .4rem;
        margin-top: .26rem
    }
}

.news_list_content li {
    border-bottom: 1px solid #ddd
}

.news_list_content li p {
    width: 60%;
    font-size: .16rem;
}

.news_list_content a {
    color: #484848;
    padding: .14rem 0
}

.news_list_content a span {
    margin-left: auto;
    font-size: .16rem;
    color: #b9b9b9
}

.news_details {
    padding: .4rem 12% .6rem
}

.news_details h4 {
    font-size: .36rem;
    color: #111;
    line-height: 1.4
}

.news_details div {
    margin: .3rem 0;
    color: #999;
    font-size: .12rem;
}

.news_details img {
    width: 100%;
    margin: .1rem 0
}

.news_details p {
    font-size: .26rem;
    line-height: 1.8;
    color: #111
}

.bottom_btn_box .bottom_returns {
    font-size: .24rem;
    color: #4294f7
}

.bottom_btn_box a {
    color: #666;
    display: block;
    font-size: .18rem
}

.adout_container {
    padding: 1rem 0 0 14%
}

.adout_introduction {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.adout_introduction li {
    width: 50%;
    margin-bottom: .4rem
}

.adout_introduction li div {
    width: 1rem
}

@media screen and (min-width: 768px) {
    .adout_introduction li {
        width: 33%
    }
}

.adout_introduction p {
    color: #e60012;
    font-size: .36rem;
    border-bottom: .04rem
}

.adout_introduction span {
    font-size: .16rem;
    color: #333
}

.adout_introduction img {
    width: .4rem;
    height: .4rem;
    margin-left: .6rem
}

.enterprise_culture {
    background-image: url("")
}

@media screen and (min-width: 1290px) {
    .enterprise_culture {
        background-color: #f2f2f2;
        background-image: url(../img/about_Ienterprise.png);
        background-repeat: no-repeat;
        background-size: 7rem 5rem;
        background-position: top right
    }
}

.enterprise_culture h6 {
    font-size: .28rem;
    margin-bottom: .04rem
}

.enterprise_culture div {
    margin-top: .2rem;
    width: 4rem
}

.enterprise_culture p {
    font-size: .2rem
}

.company_business {
    width: 6rem;
    padding: .3rem 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.company_business li {
    width: 50%;
    margin-bottom: .2rem;
    font-size: .16rem
}

.company_business li img {
    width: .44rem;
    height: .44rem;
    margin-right: .1rem
}

.company_profile {
    text-align: center;
    background-color: #fff;
    padding: .6rem 0
}

.company_profile_logo {
    margin-bottom: .6rem
}

.company_profile p {
    font-size: .14rem;
    line-height: 1.8
}

.company_profile span {
    width: .3rem;
    height: 4px;
    background-color: #e60012;
    display: block;
    border-radius: 3px;
    margin: .3rem auto .26rem
}

.address_box {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center
}

@media screen and (min-width: 768px) {
    .address_box {
        max-width: 960px
    }
}

@media screen and (min-width: 576px) {
    .address_box {
        max-width: 960px
    }
}

@media screen and (min-width: 960px) {
    .address_box {
        max-width: 960px
    }
}

ul.address_box {
    align-items: end
}

.address_box li {
    width: 2rem
}

.address_box li img {
    width: .5rem;
    height: .5rem;
    margin-bottom: .1rem
}